name: Label merge conflicts

on:
  push:
    branches: [master]
  pull_request_target:
    branches: [master]

permissions:
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: eps1lon/actions-label-merge-conflict@1df065ebe6e3310545d4f4c4e862e43bdca146f0 # v3.0.3
        with:
          dirtyLabel: merge-conflict
          repoToken: ${{ secrets.GITHUB_TOKEN }}
